---
import Layout from "../../layouts/Layout.astro";
import Background from "../../components/landing/background.svg";
import Mib from "../../components/landing/men-in-black.svg";
import Aurum from "../../components/landing/aurum.png";
import GooglePlay from "../../components/landing/google-play.png";
import AppleStore from "../../components/landing/app-store.png";
import { getRelativeLocaleUrl } from "astro:i18n";
import { Image } from "astro:assets";
import { numbers, storeUrl, venueLink } from "../../components/landing/data";
import Header from "../../components/shared/Header.astro";
import Seo from "../../components/shared/Seo.astro";

// Urls
const scheduleUrl = getRelativeLocaleUrl("en", "schedule");
---

<Layout lang="it">
  <Seo slot="seo" />

  <div>
    <div>
      <Header />

      <div class="relative mt-10 -z-10 @container m-auto">
        <Background class="relative top-2 w-full opacity-60" />
        <Mib class="absolute left-1/2 -translate-x-1/2 -bottom-1 w-[30cqw]" />
      </div>
    </div>
    <main>
      <section class="bg-primary">
        <div class="px-5 py-8 md:py-20 2xl:py-32 container m-auto">
          <h2 class="text-xl md:text-6xl font-display text-accent font-black">
            Hei, cos'è?
          </h2>
          <p
            class="text-accent-content/85 font-long text-xs md:text-2xl mt-5 prose max-w-prose"
          >
            Il Devfest (ovvero Developers Festival) è una conferenza tecnica
            rivolta agli sviluppatori. È pensata per studenti, professionisti o
            qualsiasi appassionato di tecnologia curioso. Quest’anno immergiti
            nell’atmosfera di Men in Black!
          </p>

          <p class="text-accent-content/85 font-long text-xs mt-5 md:text-2xl">
            Ti abbiamo convinto?
          </p>
          <a
            href={scheduleUrl}
            class="btn btn-sm lg:btn-lg xl:btn-xl btn-secondary mt-3 uppercase"
            >Vedi il programma!</a
          >
        </div>
      </section>

      <section class="md:bg-white">
        <div class="py-8 md:py-20 2xl:py-32">
          <h2
            class="text-xl font-display font-black md:text-6xl px-5 md:pb-5 container m-auto"
          >
            Raggiungici, siamo all'<span class="text-accent">Aurum.</span>
          </h2>
          <div class="flex flex-col gap-5 md:flex-row-reverse">
            <div
              class="px-5 container m-auto justify-end flex flex-col xl:flex-row-reverse gap-5 md:gap-10 pt-5 xl:pt-20"
            >
              <div class="">
                <p class="font-long text-xs md:text-2xl prose max-w-prose">
                  Siamo di fronte alla Pineta D'Annunziana,<br /> ad appena 5 minuti
                  a piedi dalla riviera, una zona ben servita e facilmente raggiungibile
                  <a
                    target="_blank"
                    title="Vedi come arrivare"
                    href={getRelativeLocaleUrl("it", "/venue")}
                    >con diversi mezzi di trasporto</a
                  >
                </p>
                <div>
                  <a
                    href={venueLink}
                    target="_blank"
                    class="btn btn-primary btn-md lg:btn-lg xl:btn-xl mt-5"
                    >SEGUI LE INDICAZIONI</a
                  >
                </div>
              </div>

              <div class="opacity-90">
                <Image
                  src={Aurum}
                  alt=""
                  class="rounded-4xl xl:-rotate-3 max-w-full"
                />
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="md:bg-white">
        <div class="py-8 md:py-20 2xl:py-32">
          <h2
            class="text-xl font-display font-black md:text-6xl px-5 container m-auto"
          >
            <span class="text-accent">Scarica</span> la nostra app!
          </h2>
          <div class="px-5 container m-auto">
            <p
              class="font-long text-xs mt-5 md:text-2xl prose max-w-prose mb-10"
            >
              Segui in tempo reale i talk in programma, aggiungi ai preferiti
              quelli che vuoi non perdere e partecipa ai nostri giochi per fare
              networking e vincere premi esclusivi!
            </p>
            <div class="flex gap-5 flex-wrap">
              <a class="inline-block" target="_blank" href={storeUrl.apple}>
                <Image
                  class="w-36 h-auto max-w-full"
                  src={AppleStore}
                  alt="Apple Store"
                />
              </a>
              <a
                class="inline-block"
                target="_blank"
                href={storeUrl.googlePlay}
              >
                <Image
                  class="w-40 h-auto max-w-full"
                  src={GooglePlay}
                  alt="Google Play"
                />
              </a>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="px-5 py-8 md:py-20 2xl:py-32 container m-auto font-display">
          <h2 class="text-xl md:text-6xl font-display font-black">
            Numeri dell'anno scorso
          </h2>

          <ul
            class="flex flex-wrap gap-12 lg:gap-40 pt-5 md:pt-20 font-display"
          >
            <li>
              <span class="block text-4xl lg:text-8xl font-black text-accent"
                >{numbers.speakers}</span
              ><span class="lg:text-2xl block text-gray-700">Relatori</span>
            </li>
            <li>
              <span class="block text-4xl lg:text-8xl font-black text-red-800"
                >{numbers.attendees}</span
              ><span class="lg:text-2xl block text-gray-700">Partecipanti</span>
            </li>
            <li>
              <span class="block text-4xl lg:text-8xl font-black text-gray-700"
                >{numbers.sponsors}</span
              ><span class="block lg:text-2xl text-gray-700">Sponsor</span>
            </li>
          </ul>
        </div>
      </section>
    </main>
  </div>
</Layout>
